<%layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validate-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title:</label>
                <input class="form-control" type="text" name="campground[title]" value="<%=campground.title%>"
                    id="title" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location:</label>
                <input class="form-control" type="text" name="campground[location]" value="<%=campground.location%>"
                    id="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price:</label>
                <div class="input-group">
                    <input type="number" class="form-control" aria-label="Amount" name="campground[price]"
                        value="<%=campground.price%>" id="price" required>
                    <span class="input-group-text">INR</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description:</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description"
                    required><%=campground.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Add More Images</span>
                        <span class="form-file-button">Upload</span>
                    </label>
                </div>
            </div>
            <label class="form-label" for="description">Delete Images?</label>
            <div class="mb-5">
                <% campground.images.forEach(function (img, i) { %>
                    <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input class="align-checkbox" type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                            value="<%=img.filename%>">
                    </div>
                    <label class="edit-form-delete" for="image-<%=i%>"></label>
                    <%})%>
            </div>
            <div class="mb-3">
                <button class="btn btn-outline-dark">Save Campground</button>
                <a class="btn btn-link edit-button" href="/campgrounds/<%=campground._id%>">Back</a>
            </div>
    </div>
    </form>
</div>
</div>