<%layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <img src="<%=campground.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.title%>
                    </h5>
                    <p class="card-text">
                        <%=campground.description%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%=campground.location%>
                    </li>
                    <li class="list-group-item">INR <%=campground.price%>/per day</li>
                </ul>
                <% if(currentUser && campground.author.equals(currentUser._id)){ %>
                <div class="card-body">
                    <a class="card-link btn btn-outline-dark" href="/campgrounds/<%=campground._id%>/edit">
                        Edit
                    </a>
                    <form class="d-inline" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-outline-dark">
                            Delete
                        </button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    <%=getCreatedTime(campground.time.getTime())%> ago
                    <a class="card-link btn btn-link edit-button" href="/campgrounds">
                        Back
                    </a>
                </div>
                <% } else { %>
                <div class="card-footer text-muted">
                    Posted by <%=campground.author.username%> <%=getCreatedTime(campground.time.getTime())%> ago
                    <a class="card-link btn btn-link edit-button" href="/campgrounds">
                        Back
                    </a>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col-6">
            <% if(currentUser){ %>
            <h4>Leave a Review</h4>
            <form class="mb-3 validate-form" action="/campgrounds/<%=campground._id%>/reviews" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label mt-3" for="rating">Rating</label>
                    <input class="form-range" type="range" min="1" max="5" name = "review[rating]" id="rating">
                </div>
                <div class="mb-3">
                    <label class = "form-label"for="body">Review</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <button class="btn btn-sm btn-outline-dark">Add Review</button>
            </form>
            <% } %>
            <h4 class="mt-4">Campers Feedback (<%=campground.reviews.length%>)</h4>
            <% for(let review of campground.reviews){ %>
             <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Rating: <%=review.rating%></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%=review.author.username%></h6>
                    <p class="card-text">Review: <%=review.body%></p>
                    <form action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
                        <span class="review-time"><%=getCreatedTime(review.time.getTime())%> ago</span>
                        <% if(currentUser && review.author.equals(currentUser._id)){ %>
                        <button class="btn btn-sm btn-link edit-button">Delete</button>
                        <% } %>
                    </form>
                </div>
             </div>   
            <% } %>
        </div>
    </div>
